<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="body" ng-show="showLogin">
      <h1 style="text-align:center;">ConProof</h1>
      <form>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Username" ng-model="user.name">
            </label>
            <button class="button button-positive" ng-click="getAccountInformation()">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <div ng-hide="showLogin">
      <div><h3 style="text-align:center;">Welcome, {{user.name}}. Please answer the security questions.</h3></div>
      <form name="login">
        <div class="list" ng-repeat="question in questions track by $index">
          <div class="item item-divider bar-dark">Question {{$index+1}}</div>
          <div class="item item-body">
            <span>{{question.question}}</span>
            <input class="width-full" type="text" placeholder="Answer" ng-model="question.answer" />
            </label>
          </div>
        </div>
        <button class="button button-block button-positive" ng-click="authenticate()">
          Submit
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
